# Run this faster because it can run on container based infra.
language: node_js
node_js:
  - "iojs"
  - "4.0"
  - "4.1"
script:
  - npm run coverage
after_script:
  - ./node_modules/.bin/coveralls < ./coverage/lcov.info
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
